/*SELETORES DE TAG----------------------------------------------------------------------------*/
h2{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dddddd;
}

input{
    border-radius: 10px !important;
}

input[type="color"]{
    background-color: #FFFFFF !important;
    border-radius: 12px !important;
    width: 40px;
    float: right;
}

/*SELETORES DE CLASSE-------------------------------------------------------------------------*/
.container{
    margin-top: 35px;
}

.box-form{
    background-color: #F6F6F6;
    border-radius: 10px;
}

.box-panel-left{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #F1F1F2;
    border-collapse: collapse;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 90vh;
}

.box-panel-right{
    background-color: #FFFFFF;
    border-radius: 10px;
    border-left: 1px solid #F1F1F2;
    border-collapse: collapse;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 90vh;
    overflow-y: auto;
}

.box-panel-right::-webkit-scrollbar{
    width: 5px;
}

.box-panel-right::-webkit-scrollbar-track{
    background: #d1d1d1;
}

.box-panel-right::-webkit-scrollbar-thumb{
    background-color: #98989D;
    border-radius: 10px;
}

.box-panel-right-note{
    background-color: #FFFFFF;
    border-radius: 10px;
    border-left: 1px solid #F1F1F2;
    border-collapse: collapse;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 90vh;
    overflow-y: auto;
}

.box-panel-right-note::-webkit-scrollbar{
    width: 5px;
}

.box-panel-right-note::-webkit-scrollbar-track{
    background: #CFC96C;
}

.box-panel-right-note::-webkit-scrollbar-thumb{
    background-color: #b4a801;
    border-radius: 10px;
}

.box-anotacao{
    border-radius: 8px;
    /*background-color inline p/ selecionar na exibição*/
    color: #272727;
    overflow-y: auto;
    max-height: 35vh;
    scroll-behavior: smooth;
    scrollbar-color: #e7e078;
    /*quando nao cabe mais a PALAVRA no box essa propriedade a quebra, resolvendo
    o problema de uma nota com AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA que criava
    um scroll horizontal indesejado*/
    overflow-wrap: break-word;
}

.box-anotacao:hover{
    box-shadow: 0px 2px 0px 0px #30303038;
}

.box-anotacao::-webkit-scrollbar{
    width: 5px;
}

.box-anotacao::-webkit-scrollbar-track{
    background: #d1d1d1;
    border-radius: 8px;
}

.box-anotacao::-webkit-scrollbar-thumb{
    background-color: #98989D;
    border-radius: 10px;
}

.box-nova-anotacao{
    border-radius: 10px;
    border: solid 1px #272727;
    background-color: #f7f7f7;
    color: #272727;
}

.btn-primary{
    background-color: #007BFE;
    color: #FFFFFF;
    border-radius: 14px;
}

.btn-in-note-green{
    background-color: #31C859 !important;
    float: right;
    color: #FFFFFF !important;
    border-radius: 14px;
}

.btn-in-note-green:hover{
    transition: 0.3s linear;
    transform: scale(1.05);
    background-color: #FFFFFF !important;
    float: right;
    color: #31C859!important;
    border-radius: 14px;
}

.btn-in-note-red{
    background-color: #FF382B !important;
    float: left;
    color: #FFFFFF !important;
    border-radius: 14px;
}

.btn-in-note-red:hover{
    transition: 0.3s linear;
    transform: scale(1.05);
    background-color: #FFFFFF !important;
    float: left;
    color: #FF382B!important;
    border-radius: 14px;
}

.btn-in-note{
    background-color: #007BFE;
    float: right;
    color: #FFFFFF;
    border-radius: 14px;
}

.btn-logout{
    background-color: #00000000;
    border: none;
    color: #FF382B;
    cursor: pointer;
}

.btn-logout:hover{
    text-decoration: underline !important;
}

.link-anotacao{
    color: #272727;
    text-decoration: none;
}

.link-anotacao:hover{
    color: #272727;
    text-decoration: none;
}

/*SELETORES DE ID-----------------------------------------------------------------------------*/
#nav-panel ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-panel i{
    vertical-align: middle !important;
}

#nav-panel i:hover{
    transition: 0.3s linear;
    transform: scale(1.1);
}

#nav-panel li{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
}

#nav-panel li:last-of-type{
    border: none;
}

#nav-panel li:hover{
    background-color: #f7f7f7;
}

#form-search input{
    border: solid 1px #DDDDDD;
    color: #98989D;
}

#form-note textarea{
    color: #272727;
    border: solid 1px #272727;
    border-radius: 10px;
}

#form-note textarea::-webkit-scrollbar{
    width: 5px;
}

#form-note textarea::-webkit-scrollbar-track{
    background: #e7e078;
    border-radius: 8px;
}

#form-note textarea::-webkit-scrollbar-thumb{
    background-color: #b4a801;
    border-radius: 10px;
}

#form-note input{
    color: #272727;
    border: solid 1px #272727;
}

/*CLASSES P/ CORES----------------------------------------------------------------------------*/
.blue-1{
    color: #007BFE !important;
}

.black-1{
    color: #272727 !important;
}

.green-1{
    color: #31C859 !important;
}

.red-1{
    color: #FF382B !important;
}

/*MEDIAS QUERIES------------------------------------------------------------------------------*/
@media(max-width = 628px){
    .box-anotacao{
        height: 30vh;
    }
}

/*FONTES--------------------------------------------------------------------------------------*/
.roboto-light{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*PROPORÇÃO TIPOGRAFIA------------------------------------------------------------------------*/
h1{font-size: 1.65rem;}
h2{font-size: 1.45rem;}
p{font-size: 1.1rem;}
span{font-size: 1rem;}